/*Breaded Cafe*/
body {
    background-image: url(./img/Bread.jpg);
    font-family: roboto;
    padding: 20px;
}
h1, h2, p {
    text-align: center;
}
.menu {
    width: 80%;
    background-color: wheat;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
.item p {
    display: inline-block;
    margin-bottom: 0%;
}
.serving, .spread {
    text-align: left;
    width: 49%;
}
.price {
    text-align: right;
    width: 50%;
}
span {
    text-align: left;
    color: rgb(107, 107, 107);
    font-size: 14px;
}
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
h2 {
    font-size: 30px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {
    height: 2px;
    background-color: chocolate;
    border-color: wheat;
}
.bottom-line {
    margin-top: 15px;
}
h1, h2 {
    font-family: impact, roboto;
}
footer {
    font-size: 12px;
    color:  rgb(107, 107, 107);
}
.address {
    margin-bottom: 5px;
}
a {
    color:Black;
}
a:visited {
    color:gray;
}
a:hover {
    color: brown;
}
/*End Breaded Cafe*/

/*Media Query*/
@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}
/*End Media Query*/
